.main_page{
    display: flex;
    justify-content: space-between;
    width: 1400px;
    min-height: 100vh;
    margin: 0 auto;

    .main_left{
        position: fixed;
        top: 24px;
        width: 200px;
    }

    .main_right{
        position: relative;
        left: 200px;
        width: calc(1400px - 180px);
        margin-left: 20px;
    }
}